.image-links{
    background: transparent;
    border: transparent;
    margin-top: 10px;
}

.image-links img{
    width: 75px;
}

.button-menu{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 10px; 
    list-style-type: none;
}

@media screen and (max-width: 650px){

    .button-menu{
        width: 50%;
        display: grid;
        grid-template-columns: repeat(3, 42%);
        grid-gap: 40%;
        align-items: center;
    }

    .image-links{
        background: transparent;
        border: transparent;
        position: relative;
        top: 20%;      
    }

    .image-links img{
        width: 60px;
    }

   

}

