.contact{
    width: 100%;
    background-color: black;
}

.contact-content{
    width: 100%;
    display: inline-block; 
    text-align: center;
    padding: 3%;
    
}

.contact-content a{
    color: rgba(243, 243, 255, 0.759);
    text-decoration: none;
    
}






