.home{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: white;
    z-index: 1;
}

.snowymountain{
    position:absolute;
    z-index: -1;
    top:0;
    left:0;
    width:100%;
    height: inherit;
}

.home .content{
    height: 100%;
    width: 100%;
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 1rem;
    position: absolute;
    color: var(--overlay); 
}

.home .content p:first-child{
    color: rgba(255, 255, 255, 0.141);
    text-shadow: 2px 2px 5px rgba(0, 40, 159, 0.63);
    font-weight: bold;
    font-size: 5rem;
    
}

.home .content p:nth-child(2){
    font-size: 3rem;
    color: gray;
    text-shadow: 2px 2px 5px gray;

}

@media screen and (max-width: 700px){

    .home{
        display: flex;
        width: 100%;
        height: 100vh;
        position: relative;
        background-color: white;
        z-index: 1;
    }

    .home .content{
        width: 100%;
        align-items: left;
    }

    .home .content p:first-child{
        font-weight: bold;
        font-size: 375%;
        position: relative;
    }

    .home .content p:nth-child(2){
        font-size: 35px;
        position: relative;
    }
}