.NavbarItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 0px 30px;
    background-color: rgba(0, 0, 0, 0.919);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 75px;
    position: fixed;
    z-index: 2;
}

.fa-react{
    color: rgba(243, 243, 255, 0.759);
    transition: all 0.5s ease-out;
    justify-self: start;
    cursor: pointer;
    font-size: 1.5rem;
    display: inline;
}

.fa-react:hover{
    color: rgba(255, 255, 255); 
    transition: all .3s ease-in;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;    
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: end; 
}

.nav-links{
    text-decoration: none;
    color: rgba(243, 243, 255, 0.759);
    transition: all 0.5s ease-out;
    padding: 1rem; 
    white-space: nowrap;
    
}

.nav-links:hover{
    color: rgb(255, 255, 255);
    transition: all .3s ease-in;
}

.fa-bars, .fa-times{
    color: rgba(243, 243, 255, 0.90);
}
.fa-times{
    font-size: 140%;
}

.menu-icons{
    display: none;
}

.nav-links-mobile{
    padding: 0.5rem 1rem;
    white-space: nowrap;
    text-decoration: none;
    background-color: rgba(185, 185, 185, 0.2);
    border-radius: 20px;
    transition: all .3s ease-in;
    color: rgba(243, 243, 255, 0.759); 
}

.nav-links-mobile:hover{
    background-color: rgba(185, 185, 185, 0.307);
    color: rgba(255, 255, 255); 
    transition: all .3s ease-in;
}

@media screen and (max-width: 650px){
    .NavbarItems{
        z-index: 99;
    }
    
    .fa-react{
        margin-left: 47%;
    }

    .nav-menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: rgba(0, 0, 0, 0.75);
        box-shadow: 0 8px 32px 0 rgba(0, 38, 135, alpha, .37);
        backdrop-filter:  blur(5px);
        width: 100%;
        height: 1200%;
        position: absolute;
        top: -1200%;
        left: 0;
        align-items: stretch;
        padding: 90px 0 30px 0;
        margin: 0;
        z-index: -1;
        transition: top .5s ease;
    }

    .nav-menu.active{
        top: 0;
        transition: all .5s ease;
    }

    .nav-links{
        display: block;
        widows: 100%;
        padding: 2rem 0;
        color: rgba(243, 243, 255, 0.759);
        margin-left: -5px;
    }

    .nav-links:hover{
        color: rgba(255, 255, 255); 
        background-color: rgba(185, 185, 185, 0.2);
    }

    .menu-icons{
        display: block;
    }

    .nav-links-mobile{
        display: inline-block;
        padding: .5rem 1rem;
        text-decoration: none;
        background: rgba(185, 185, 185, 0.2);
        border-radius: 20px;
        transition: all .3s ease-in;
        color: rgba(243, 243, 255, 0.759); 
    }
}