:root {
    --primary-color: rgb(150, 0, 0);
    --primary-dark: rgb(150, 0, 0);
    --secondary-color: #ff0000;
    --secondary-dark:#ff0000;
    --overlay: rgb(0, 0, 0);

  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
  
  }
  
  body{
    margin: 0;
    font-family: monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.2rem;
    line-height: 1.2;
  }
